.file-input-container {
	margin-bottom: 30px;
}

.Input {
	align-items: center;
	background-color: lightblue;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 40%;
}

.previous-team {
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin-bottom: 10px;
}

.previous-teams-text {
	margin-bottom: 25px;
}

.teams-column {
	display: flex;
	flex-direction: column;
}

.teams-inputs-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 25px;
	width: 100%;
}
