.format {
	margin-bottom: 35px;
	margin-top: 0px;
}

.path {
	margin-bottom: 20px;
	text-align: start;
}

.paths-list {
	padding-left: 0px;
}

.TopPaths {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size: large;
}
